@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

@font-face {
    font-family: Junicode;
    src: local("Junicode"), url("/css/woff/Junicode.woff");
}

@font-face {
    font-family: Junicode;
    src: local("Junicode-Bold"), url("/css/woff/Junicode-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: Junicode;
    src: local("Junicode-Italic"), url("/css/woff/Junicode-Italic.woff");
    font-style: italic;
}
