@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

@font-face {
    font-family: Junicode;
    src: local("Junicode"), url("/css/woff/Junicode.woff");
}

@font-face {
    font-family: Junicode;
    src: local("Junicode"), url("/css/woff/Junicode-Bold.woff");
    font-weight: bold;
}

@font-face {
    font-family: Junicode;
    src: local("Junicode"), url("/css/woff/Junicode-Italic.woff");
    font-weight: italic;
}

html {
  overflow-y: scroll; }

body {
  font-family: Junicode, Garamond, Georgia, "Times New Roman", Times, serif;
  background: #6D6E70;
  margin: 0;
  padding: 0;
  color: #000; }

/* ~~ Element/tag selectors ~~ */
ul, ol, dl {
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px; }

h3 {
  font-size: 13pt;
  margin-top: 1em;
  margin-bottom: .333em; }

h4 {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: .5em;
  margin-top: 1.5em; }

h3 + h4 {
  margin-top: 0; }

h5 {
  font-size: 12pt;
  font-weight: 400;
  margin-top: .98em;
  margin-bottom: .45em; }

h5 + p {
  margin-top: 0; }

img {
  margin-top: 20px;
  margin-bottom: 80px; }

#bullets {
  font-family: 'sans-serif';
  text-align: center;
  font-size: 27px;
  line-height: 1.3;
  color: #ccc; }
  #bullets em {
    display: inline-block;
    padding: 0 3px;
    font-style: normal;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.35);
    font-family: sans-serif; }
    #bullets em.on {
      color: #7D110C; }

a {
  color: #414958;
  text-decoration: underline; }
  a:visited {
    color: #4e5869; }
  a:hover, a:active, a:focus {
    text-decoration: none; }
  a img {
    border: none; }

p {
  /* margin-bottop: 1.4em; */
  margin-bottom: 1em; }

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
  padding-top: 25px;
  background: #FFF;
  margin: 0 auto; }

/* full width */
.header {
  font-family: "PT Sans Narrow", Helvetica, sans-serif;
  padding: 0px 8px;
  background: #7d110c;
  color: #FFF;
  position: relative;
  border-bottom: solid 2px #6D6E70; }
  .header h2 {
    padding-top: .75em;
    font-weight: normal;
    margin-bottom: 0; }

.nav ul {
  display:none;
  margin: 0;
  padding: 0;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0; }
  .nav ul li {
    display: inline;
    vertical-align: top; }
    .nav ul li a {
      font-family: "PT Sans Narrow", Helvetica, sans-serif;
      float: left;
      text-decoration: none;
      color: #FFF;
      padding: 5px 8px;
      background-color: #7D110C; }
      .nav ul li a:visited {
        color: white; }
      .nav ul li a:hover {
        color: white;
        background-color: #8090ab; }

.content {
  font-family: Junicode, Garamond, Georgia, "Times New Roman", Times, serif;
  padding: 10px 8px;
  font-size: 11pt;
  line-height: 1.6; }
  .content ul, .content ol {
    padding: 0 15px 15px 40px; }
  .content ul {
    list-style-type: square; }
  .content li {
    margin-top: .725em; }

.footer {
  font-size: 10pt;
  padding: 10px 0;
  background: #B0B2B4;
  border-top: solid 2px #6D6E70; }

.swipe {
  padding-bottom: 20px; }
  .swipe ul, .swipe div {
    margin: 0;
    padding-bottom: 10px; }
  .swipe li div, .swipe div div div {
    margin: 0 10px;
    padding: 20px 10px;
    text-align: center; }

.navArrow {
  padding: 0 15px;
  height: 20px;
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
  visibility: visible; }

#exampleNav li {
  margin: 0; }

#prev_next {
  margin-top: -2em;
  margin-bottom: 0;
  font-size: 90%; }

#contentsPane {
  background-color: #ffffff;
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#exampleNav {
  /*display: none;*/
  font-size: 90%; }

#exampleNav a {
  text-decoration: none; }

.sc {
  font-variant: small-caps; }

.hide {
  display: none; }

/* ~~ miscellaneous float/clear classes ~~ */
.indent {
  text-indent: 1.75em; }

.hang {
  text-indent: -2.75em;
  margin-left: 2.75em; }

.fltrt {
  float: right;
  margin-left: 8px; }

.fltlft {
  float: left;
  margin-right: 8px; }

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px; }
