/* Fonts */
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700|Crimson+Text:400,600|Open+Sans');

@font-face {
  font-family: Junicode;
  src: local("Junicode"), url("/css/woff/Junicode.woff"); }

@font-face {
  font-family: Junicode;
  src: local("Junicode-Bold"), url("/css/woff/Junicode-Bold.woff");
  font-weight: bold; }

@font-face {
  font-family: Junicode;
  src: local("Junicode-Italic"), url("/css/woff/Junicode-Italic.woff");
  font-style: italic; }

/* Reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

/* ~~ Element/tag selectors ~~ */
html {
  background: #6d6e70;
}
body {
  font-family: "Crimson Text", Garamond, Georgia, "Times New Roman", Times, serif;
  font-size: 13pt;
  line-height: 1.5;
  background: linear-gradient(#8d8e90, #6d6e70);
  margin: 0;
  padding: 0;
  color: black; }

h1, h2, h3, h4, h5, h6, p {
  padding-right: 15px;
  padding-left: 15px; }

h1 {
  font-family: "Open Sans", "Helvetica Neue 300", Helvetica, sans-serif;
  font-weight: normal;
  font-size: 2em;
  line-height: 1em;
  margin-top: .5em;
  margin-bottom: 1em; }

h2 {
  font-family: "Open Sans", "Helvetica Neue 300", Helvetica, sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
  margin-top: .75em;
  margin-bottom: .75em; }

h3 {
  font-family: "Open Sans", "Helvetica Neue 300", Helvetica, sans-serif;
  font-size: 1.15em;
  line-height: 1em;
  margin-top: 1.25em;
  margin-bottom: 1em;
  font-weight: normal; }

h4 {
  font-family: "Open Sans", "Helvetica Neue 300", Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  margin-bottom: 1em;
  margin-top: 1em; }

h5 {
  font-size: 12pt;
  font-weight: 400;
  margin-top: .98em;
  margin-bottom: .45em; }

p {
  margin-bottom: 1em; }

h3 + h4 {
  margin-top: 0; }

h5 + p {
  margin-top: 0; }

a {
  text-decoration: underline; }
  a:link {
    color: #414958; }
  a:visited {
    color: #4E5869; }
  a:hover, a:active, a:focus {
    text-decoration: none; }
  a img {
    border: none; }

code {
  font-size: 0.85em; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }
sub {
  top: 0.4em; }

button {
  font-family: "Crimson Text", Garamond, Georgia, "Times New Roman", Times, serif;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
  *zoom: 1;
  max-width: 50em;
  /* font-size: 1.05em; */
  margin-left: auto;
  margin-right: auto;
  background: #F6F6F6; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container .container:after {
    clear: both; }

/* full width */
header {
  font-family: "PT Sans Narrow", "Helvetica Neue 300", Helvetica, sans-serif;
  font-size: 115%;
  padding: 0px 8px;
  background: #7d110c;
  position: relative;
  border-bottom: solid 2px #6D6E70;
  margin-bottom: 15px; }

/* nav elements */
.nav ul {
  margin: 0;
  padding: 0;
  float: right;
  position: absolute;
  bottom: 0;
  right: 0; }
  .nav ul li {
    display: inline;
    vertical-align: bottom; }
  .nav ul li a {
    font-family: "PT Sans Narrow", "Helvetica Neue 300", Helvetica, sans-serif;
    float: left;
    text-decoration: none;
    color: #FFF;
    padding: 5px 8px;
    background-color: #7d110c; }
    .nav ul li a:visited {
      color: white; }
    .nav ul li a:hover {
      color: white;
      transition: background-color .25s;
      background-color: #8090AB; }

main {
  padding: 10px 0.5em;
  margin: 0 auto;
}

  main ul, main ol {
    padding: 0 15px 15px 50px; }
  main ul {
    list-style-type: disc; }
  main li {
    margin-top: .725em; }
  main ul ul {
    padding-left: 20px; }

footer {
  font-size: 10pt;
  padding: 10px 0;
  background: #B0B2B4;
  border-top: solid 2px #6D6E70; }

/* ~~ miscellaneous float/clear classes ~~ */
.indent {
  text-indent: 1.75em; }

.hang {
  text-indent: -2.75em;
  margin-left: 2.75em; }

.fltrt {
  float: right;
  margin-left: 8px; }

.fltlft {
  float: left;
  margin-right: 8px; }

.clearfloat {
  clear: both;
  height: 0;
  font-size: 1px;
  /*line-height: 0px;*/ }

#transcriptions h5 {
  margin-left: 1em; }
#transcriptions p {
  margin-left: 2.5em; }

#copyright {
  font-size: 80%; }

div#connect h3 {
  margin-bottom: 0; }
div#connect ul {
  list-style-type: none;
  margin-left: -18px li;
    margin-left-margin-top: 0; }
div#connect i.fa-twitter {
  color: #55acee; }

/* Post styles */
p.meta {
  font-size: .8em;
  color: #444444;
  font-family: "Open Sans", "Helvetica Neue 300", Helvetica, sans-serif;
}

p.tags {
    font-family: "Open Sans", "Helvetica Neue 300", Helvetica, sans-serif;
    font-size: .8em;
    margin-top: 2em;
    text-align: right; }

span.page_number {
  color: #444444; }

div.post {
    margin-top: 3em;
    max-width: 35em;
    margin: 0 auto;
}
div.post pre {
    margin: 2em;
    font-size: .9em; }

div.post h2.post-title {
    margin-bottom: .25em;
    font-family: "Open Sans", "Helvetica Neue 300", Helvetica, sans-serif;
    font-weight: normal;
}
div.post p.meta {
}

div.post-content {
  padding: auto 1.5em;
  max-width: 35em;
  margin: 0 auto 3em;
  padding-left: 1em;
  font-size: 1.05em;
}

div.post-content hr {
    margin: 0 10em; }
div.post-content h2 {
    font-size: 1.25em; }

div.post-content h2.post-title {
    margin-bottom: .5em;
}

div.post-content pre {
    font-size: 11pt;
    overflow-x: scroll;
}

div.highlight {
  margin-bottom: 2em;
}

div.pagination {
  margin: 2em auto 0;
  font-family: "Open Sans", "Helvetica Neue 300", Helvetica, sans-serif;
  font-size: 0.9em;
  text-align: center; }

h1#post-title {
  max-width: 35em;
  font-size: 1.75em;
  text-align:center;
  margin: 1em auto .5em;
  font-weight: normal;
  margin-bottom: 0.25em;
}

h1#post-title + p.meta {
    text-align: center;
    margin-bottom: 3em;
}


h3 span.small {
  font-size: .75em;
  font-weight: normal; }

img#about-headshot {
  width: 300px; }
  @media screen and (max-width: 600px) {
    img#about-headshot {
      margin: 0 1em 15px 15px; } }
  @media screen and (min-width: 600px) {
    img#about-headshot {
      float: right;
      margin: 0 1em 10px 30px; } }

@media screen and (max-width: 480px) {
  div#bioPics img#m-c {
    width: 85%;
    margin: 15px; } }
@media screen and (min-width: 480px) {
  div#bioPics img#m-c {
    width: 40%;
    padding: 15px; } }
@media screen and (max-width: 480px) {
  div#bioPics img#cats {
    width: 85%;
    margin: 15px; } }
@media screen and (min-width: 480px) {
  div#bioPics img#cats {
    width: 40%;
    vertical-align: top;
    padding: 15px; } }

ul li {
  list-style-type: "-  "; }
ul li li {
  list-style-type: "∙  "; }
ul li li li {
  list-style-type: "◦  "; }


div#cv {
  margin-bottom: 2em; }
  div#cv p {
    margin: 0; }
  div#cv p.mtop {
    margin-top: 0.75em; }
  div#cv p.role {
    margin-bottom: 0.75em; }
  div#cv h3 {
    font-weight: bold;
    margin-top: 1.5em; }
  div#cv ul {
    list-style-position: outside;
    padding: 0;
    margin-left: 1.75em; }
  div#cv ul li {
    margin: 0;
    padding: 0; }
    div#cv ul li.list-header {
      font-style: italic; }
      div#cv ul li.list-header:before {
        content: ""; }
  div#cv div.cv-content {
    margin-left: 2em;
    width: 85% }
  div#cv h5 {
    font-weight: 600; }
  div#cv h5 + h5 {
    margin-top: 1.5em; }

div#tune-list h3 {
  margin-top: 1.75em;
  margin-bottom: .85em;
  font-size: 1.1em; }
div#tune-list p {
  margin-left: 2em; }


section.footnotes{
    margin-top: 4em;
    font-size: 90%; }
section.footnotes hr {
    margin-left: 0;
    width: 50%;
}
section.footnotes ol {
    padding-left: 15px; }
a.footnote-return {
    display: inline;
}

/* bigfoot styles (footnotes) */

.bigfoot-footnote__button {
  position: relative;
  z-index: 5;
  top: -0.4em;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: inline-block;
  padding: 0.4em 0;
  margin: 0 0.2em 0 0;
  border: none !important;
  cursor: pointer;
  background: transparent;
  backface-visibility: hidden;
  font-size: .83rem;
  line-height: 0;
  vertical-align: baseline;
  text-decoration: underline;
  -webkit-font-smoothing: antialiased; }

  .bigfoot-footnote__button.is-active {
    background-color: #c99;
    transition-delay: 0.1s; }
  .bigfoot-footnote__button:after {
    content: '';
    display: table;
    clear: both; }


.bigfoot-footnote__container {
  display: inline-block;
  position: relative;
  text-indent: 0; }

@media not print {
  .footnote-print-only {
    display: none !important; } }
@media print {
  .bigfoot-footnote,
  .bigfoot-footnote__button {
    display: none !important; } }
.bigfoot-footnote {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  display: inline-block;
  box-sizing: border-box;
  max-width: 90%;
  margin: 1.96924em 0;
  background: #ebebeb;
  opacity: 0;
  border-radius: 0.5em;
  border: 1px solid #969696;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  line-height: 0;
  transition-property: opacity, transform;
  transition-duration: 0.25s;
  transition-timing-function: ease;
  transform: scale(0.1) translateZ(0);
  transform-origin: 50% 0; }
  .bigfoot-footnote.is-positioned-top {
    top: auto;
    bottom: 0; }
  .bigfoot-footnote.is-active {
    transform: scale(1) translateZ(0);
    opacity: 1; }
  .bigfoot-footnote.is-bottom-fixed {
    position: fixed;
    bottom: 0;
    top: auto;
    left: 0;
    right: auto;
    transform: translateY(100%);
    width: 100%;
    margin: 0;
    border-radius: 0;
    opacity: 1;
    border-width: 1px 0 0;
    transition: transform 0.3s ease; }
    .bigfoot-footnote.is-bottom-fixed.is-active {
      transform: translateY(0); }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper {
      margin: 0 0 0 50%;
      transform: translateX(-50%);
      max-width: 100%; }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__wrapper,
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__content {
      border-radius: 0; }
    .bigfoot-footnote.is-bottom-fixed .bigfoot-footnote__tooltip {
      display: none; }
  .bigfoot-footnote.is-scrollable:after {
    content: '';
    position: absolute;
    bottom: 0.3375em;
    left: 0.3375em;
    z-index: 14;
    display: block;
    height: 0.78125em;
    width: 0.625em;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTJweCIgaGVpZ2h0PSIxNXB4IiB2aWV3Qm94PSIwIDAgMTIgMTUiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgcHJlc2VydmVBc3BlY3RSYXRpbz0ieE1pbllNaW4iPgogICAgPGcgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPGcgaWQ9IkFycm93IiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjAwMDAwMCwgMS4wMDAwMDApIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJzcXVhcmUiPgogICAgICAgICAgICA8cGF0aCBkPSJNNSwwIEw1LDExLjUiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0wLjUsNy41IEw1LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00LjUsNy41IEw5LjAyNzY5Mjc5LDEyLjAyNzY5MjgiIGlkPSJMaW5lLTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDcuMDAwMDAwLCAxMC4wMDAwMDApIHNjYWxlKC0xLCAxKSB0cmFuc2xhdGUoLTcuMDAwMDAwLCAtMTAuMDAwMDAwKSAiPjwvcGF0aD4KICAgICAgICA8L2c+CiAgICA8L2c+Cjwvc3ZnPgo=");
    background-size: cover;
    opacity: 0.1;
    transition-properties: opacity;
    transition-duration: 0.25s;
    transition-timing-function: ease; }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before, .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    z-index: 12;
    left: 0; }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:before {
    top: -1px;
    height: 1.1em;
    border-radius: 0.5em 0.5em 0 0;
    background-image: linear-gradient(to bottom, #ebebeb 50%, rgba(235, 235, 235, 0) 100%); }
  .bigfoot-footnote.is-scrollable .bigfoot-footnote__wrapper:after {
    bottom: -1px;
    height: 1.2em;
    border-radius: 0 0 0.5em 0.5em;
    background-image: linear-gradient(to top, #ebebeb 50%, rgba(235, 235, 235, 0) 100%); }
  .bigfoot-footnote.is-scrollable ::-webkit-scrollbar {
    display: none; }
  .bigfoot-footnote.is-fully-scrolled:after, .bigfoot-footnote.is-fully-scrolled:before {
    opacity: 0;
    transition-delay: 0; }

.bigfoot-footnote__wrapper {
  position: relative;
  z-index: 14;
  width: 22em;
  display: inline-block;
  box-sizing: inherit;
  overflow: hidden;
  margin: 0;
  background-color: #ebebeb;
  border-radius: 0.5em;
  line-height: 0; }

.bigfoot-footnote__content {
  position: relative;
  z-index: 8;
  display: inline-block;
  max-height: 15em;
  padding: 1.1em 1.3em 1.2em;
  box-sizing: inherit;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #ebebeb;
  border-radius: 0.5em;
  -webkit-font-smoothing: subpixel-antialiased;
  line-height: normal; }
  .bigfoot-footnote__content img {
    max-width: 100%; }
  .bigfoot-footnote__content *:last-child {
    margin-bottom: 0 !important; }
  .bigfoot-footnote__content *:first-child {
    margin-top: 0 !important; }

.bigfoot-footnote__tooltip {
  position: absolute;
  z-index: 12;
  box-sizing: border-box;
  margin-left: -0.65em;
  width: 1.3em;
  height: 1.3em;
  transform: rotate(45deg);
  background: #ebebeb;
  border: 1px solid #969696;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  border-top-left-radius: 0; }
  .is-positioned-bottom .bigfoot-footnote__tooltip {
    top: -0.65em; }
  .is-positioned-top .bigfoot-footnote__tooltip {
    bottom: -0.65em; }
