{{ partial "header.html" . }}

<h1 id="post-title">{{ .Title | safeHTML }}</h1>
<p class="meta">{{ .Date.Format "Monday, 2006-01-02" }}</p>

<div class="post-content">
{{ .Content }}

{{ partial "tags.html" . }}
</div>

<p class="meta"><a href="/blog/">Blog home</a></p>

<script>
// footnotes
littlefoot.littlefoot({
    actionOriginalFN: "ignore",
    allowDuplicates: false,
    activateOnHover: true,
    dismissOnUnhover: true,
    dismissDelay: 100,
    hoverDelay: 250,
    numberResetSelector: "div.post-content",
    buttonTemplate: `
<button aria-label="Footnote <% number %>" class="littlefoot__button" id="<% reference %>" />
  <% number %>
</button>`,
});

document.querySelectorAll('.footnotes.littlefoot--print, .footnotes .littlefoot--print').forEach(e => e.classList.remove('littlefoot--print'))
document.querySelectorAll('.footnote-backref').forEach((el) => { el.href = el.href.replace('#', '#lf-') })
</script>
{{ partial "footer.html" . }}
