{{ partial "header.html" . }}

<h1 id="post-title">{{ .Title | safeHTML }}</h1>
<p class="meta">{{ .Date.Format "Monday, 2006-01-02" }}</p>

<div class="post-content">
{{ .Content }}

{{ partial "tags.html" . }}
</div>

<p class="meta"><a href="/blog/">Blog home</a></p>

<script>
// footnotes
$.bigfoot({
     actionOriginalFN: "ignore",
     activateOnHover: true,
     deleteOnUnhover: true,
     numberResetSelector: "div.post-content",
     buttonMarkup: (
         '<div class="bigfoot-footnote__container">' +
         ' <button href="#" class="bigfoot-footnote__button" rel="footnote"' +
         ' id="{{`{{`}}SUP:data-footnote-backlink-ref}}"' +
         ' data-footnote-number="{{`{{`}}FOOTNOTENUM}}"' +
         ' data-footnote-identifier="{{`{{`}}FOOTNOTEID}}"' +
         ' alt="See Footnote {{`{{`}}FOOTNOTENUM}}"' +
         ' data-bigfoot-footnote="{{`{{`}}FOOTNOTECONTENT}}">' +
         ' {{`{{`}}FOOTNOTENUM}}' +
         ' </button>' +
         ' </div>'
     )
 });
</script>
{{ partial "footer.html" . }}
