{{ partial "header.html" . }}

<h3>Hello!</h3>
<p>Welcome to my home on the web. I’m a music-theorist-turned-programmer
interested in making people's lives better with the clever application of
computers. I'm interested in backend programming, git, music theory, jazz, and
lots of other things.</p>

<p>I rarely update, or even think about, this site, but feel free to have a
poke around if you like.

<div id="connect">
    <h3>Find me online</h3>
    <ul id="connect">

      <li><i class="fa fa-twitter fa-2x"></i> <a href="http://www.twitter.com/mmcclimon">@mmcclimon</a></li>
      <li><i class="fa fa-github fa-2x"></i> <a href="http://www.github.com/mmcclimon">&nbsp;mmcclimon</a></li>
    </ul>
</div>

{{ partial "footer.html" . }}
