{{ partial "header.html" . }}

<h3>Welcome!</h3>
<p>Welcome to my home on the web. I’m a music-theorist-turned-programmer
interested in jazz, transformational theory, Perl, and lots of other things.
Here you can find some information about me.</p>

<p>I recently realized this site is fairly out-of-date. I’ll try to fix
that.</p>

<h3>Recent additions to the site</h3>

<ul>
  <li>Blog posts on a (no-longer recent) <a href="/blog/170406-leaving-academia">life change</a></li>
  <li>A link to my (not-so) recently published <a href="//www.mtosmt.org/issues/mto.17.23.1/mto.17.23.1.mcclimon.html"><em>Music Theory Online</em> article</a></li>
</ul>


<div id="connect">
    <h3>Find me online</h3>
    <ul id="connect">
      <li><i class="fa fa-twitter fa-2x"></i> <a href="http://www.twitter.com/mmcclimon">@mmcclimon</a></li>
      <li><i class="fa fa-github fa-2x"></i> <a
        href="http://www.github.com/mmcclimon">&nbsp;mmcclimon</a></li>
    </ul>
</div>

{{ partial "footer.html" . }}
