{{ partial "header.html" . }}

<p style="float:right"><a href="/blog/index.xml">RSS</a></p>

{{ range .Paginator.Pages }}
<div class="post">
  <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a></h2>
  <p class="meta">{{ .Date.Format "January 2, 2006" }}</p>
  <div class="post-content">
      {{ .Content }}
  </div>
</div>
{{ end }}

{{ partial "paginator.html" . }}

<script>
littlefoot.littlefoot({
    actionOriginalFN: "ignore",
    allowDuplicates: false,
    activateOnHover: true,
    dismissOnUnhover: true,
    dismissDelay: 100,
    hoverDelay: 250,
    numberResetSelector: "div.post-content",
    buttonTemplate: `
<button aria-label="Footnote <% number %>" class="littlefoot__button" id="<% reference %>" />
  <% number %>
</button>`,
 });

document.querySelectorAll('.footnotes.littlefoot--print, .footnotes .littlefoot--print').forEach(e => e.classList.remove('littlefoot--print'))
document.querySelectorAll('.footnote-backref').forEach((el) => { el.href = el.href.replace('#', '#lf-') })
</script>
{{ partial "footer.html" . }}
