{{ partial "header.html" . }}

<p style="float:right"><a href="/blog/index.xml">RSS</a></p>

{{ range .Paginator.Pages }}
<div class="post">
  <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title | safeHTML }}</a></h2>
  <p class="meta">{{ .Date.Format "January 2, 2006" }}</p>
  <div class="post-content">
      {{ .Content }}
  </div>
</div>
{{ end }}

{{ partial "paginator.html" . }}

<script>
// footnotes
$.bigfoot({
     actionOriginalFN: "ignore",
     activateOnHover: true,
     deleteOnUnhover: true,
     numberResetSelector: "div.post-content",
     buttonMarkup: (
         '<div class="bigfoot-footnote__container">' +
         ' <button href="#" class="bigfoot-footnote__button" rel="footnote"' +
         ' id="{{`{{`}}SUP:data-footnote-backlink-ref}}"' +
         ' data-footnote-number="{{`{{`}}FOOTNOTENUM}}"' +
         ' data-footnote-identifier="{{`{{`}}FOOTNOTEID}}"' +
         ' alt="See Footnote {{`{{`}}FOOTNOTENUM}}"' +
         ' data-bigfoot-footnote="{{`{{`}}FOOTNOTECONTENT}}">' +
         ' {{`{{`}}FOOTNOTENUM}}' +
         ' </button>' +
         ' </div>'
     )
 });
</script>
{{ partial "footer.html" . }}
